/* CSS Document */
#login{
	width:970px;
	padding:0;	
}
.login form{
	margin:0 auto;
	width:300px;
	background-color: #CECECE;
	padding:30px;
	box-shadow:none;	
}
legend {
	font-family: 'Lato';
    margin-bottom: .5rem;
    font-size: 1.1rem;
	
}
.box-form{
	background-color: #CECECE;
	border-radius:5px;
}
.login #backtoblog, .login #nav {
    font-size: 15px;
    padding: 10px 24px;
}
#nav a{
	float:right;	
}
#lostpasswordform label{
	color:#000;	
}
fieldset {
    border: 1px solid #7D7D7D;
    border-radius: 5px;
}
body{
	background-image:url(../_img/body.png);
	background-repeat:no-repeat;
	background-color: #161616;
	background-position:center 110px;	
}
.login h1 a{
	background-image:url(../_img/logo.png);	
}
#title h2, #title h3{
	font-weight:bold;
	font-family:'Kaushan Script', cursive;
	text-align:center;
	color:#fff;
}
#title h2{
	font-size:40px;	
}
#title h3{
	padding:20px 0;	
}

.box-log {
    border: 1px solid #CECECE;
    border-radius: 7px;
}
.box-log-p {
    background-color: #161616;
    color: #CECECE;
    font-size: 12px;
    padding: 10px;
    text-indent: 10px;
}
